.Main{
    color: white;
    padding-left: 1rem;
    display: flex;
    background: black;
}
.Filters>*{
    padding: 0.75rem;
}
.Filters>input{
    height: 1.5rem;
    border: 2px solid grey;
    border-radius: 5px;
    color: white;
    background: #2e2e2e;
}
.minmax>input{
    padding: 0.75rem;
    border: 2px solid grey;
    border-radius: 5px;
    width: 4rem;
    margin-right: 1rem;
    color: white;
    background: #2e2e2e;
}
.minmax{
    padding-left: 0;
}
.gyms{
    height: 42rem;
    overflow: scroll;
    overflow-x: hidden;
    width: 75%;
    margin-left: 2.5rem;
}
.gyms-card{
    margin-top: 2rem;
    display: flex;
    height: 300px;
}
.gym-img{
    height: 100%;
    width: 400px;
}
.gym-details{
    width: 100%;
    background: #131313;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gym-details>*{
    background: #131313;
}
.price-book{
    color: white;
    background: #131313;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    background: #131313;
    color: #9e8012;
}
.btn-bookNow{
    width: 5.5rem;
    color: white;
    background: red;
    height: 2.7rem;
    border-radius: 4px;
}

.footer-bg{
    margin-top: 4rem;
    background: url("../assets/footerbg.png");
    height: 264px;
    background-size: contain;
    background-repeat: no-repeat;
}
.detail-content>*{
    background: #131313;
}

@media(max-width: 650px){
    .Filters{
        display: none;
    }
    .detail-content>*{
        margin-bottom: 10px;
    }
    .gyms{
        width: 86%;
    }
    .gyms-card{
        height: 270px;
    }
    .footer-bg{
        margin-top: 3rem;
        height: 164px;
    }
}
@media(max-width: 650px){
    .gyms-card{
        height: 270px;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.6rem;
    }
    .gyms{
        height: 30rem;
    }
}
@media(max-width: 550px){
    .gyms-card{
        height: 200px;
    }
}
@media(max-width) {
    .footer-bg{
        height: 100px;
    }
}